.open>.dropdown-menu {
    display: block!important;
}
.dropdown-menu {
    position: absolute!important;
    top: 100%!important;
    left: 0!important;
    z-index: 1000;
    display: none;
    float: left!important;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left!important;
    list-style: none!important;
    background-color: #FFDEAD!important;
    -webkit-background-clip: padding-box!important;
    background-clip: padding-box!important;
    border: 1px solid #ccc!important;
    border: 1px solid rgba(0,0,0,.15)!important;
    border-radius: 4px!important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)!important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175)!important;
}
.navbar-header{height:40px;}
.navbar-brand{padding:0px 0px 0px 0px;}
.navbar-brand .mylogo{height:58px;}
.nav-bg-color{background: #CD853F;}
.nav-menu a{color:#000000!important;}
.sub-nav-menu a{color:#333!important; font-size:13px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{background-color: rgba(0,0,0,.1)}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: rgba(0,0,0,.3)}
.header-panal{background: #FFDAB9!important;color:#21618C!important;}
.thead-light{background: #FFDAB9!important;}
.panel-default>.panel-heading{background-color:#FFDAB9;}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #FFDAB9!important;
    background-image: url(/assets/img/pd.jpg)!important;
}

.thumbnail{
    background-image: url(/assets/img/p1.jpg);
    border-radius : 8px;
}
